html, body {
  background: #456990;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-header {
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  font-family: 'Lato', sans-serif;
  color: #61dafb;
}

/* Navbar CSS Below */

.nav-bar{
  font-family: 'Lato', sans-serif;
  display: flex;
  background-color: gainsboro;
  height: 60px;
  justify-content: center;

}

#header {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: auto;
  /* -top: 20px; */
}

#logged-in-div {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  /* font-weight: bold; */
  display: inline-flex;
  /* position: relative; */
  left:20%;
  justify-content: center;
  border-left: 8px double #456990;
}

#logout-btn {
  /* position: relative; */
  font-size: 1.0rem;
  left: 20%;
  height: 30px;
  /* margin-top: 10px; */
  margin-right: 5px;
}

#login-page {
  color:whitesmoke;
}

/* Search Bar */

#search-bar {
  display: inline-flex;
  position: relative;
  padding: 20px;
}

#search-form {
position: relative;
left: 0%;
/* display: ; */
/* float: right; */
}

#search-form label {
  margin-right: 10px;
  color: rgb(233, 233, 233)
}

#search-form input {
  margin-right: 10px;;
}

#timeline-selector {
  position: relative;
  margin-left: 40px;
  /* float: left; */
  right: 30%;
}